/* .searchbar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid #4f6f52;
  padding: 10px;
  border-radius: 8px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  width: 200px;
}

.search-button {
  background-color: #4f6f52;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.icon {
  margin-left: 10px;
} */
