/* Cards.css */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.cards-container .MuiCard-root {
  border-radius: 16px;
}
.single-row {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 16px;
}

/* .single-row .MuiGrid-item {
  flex: 0 0 auto;
} */

/* .single-row .MuiCard-root {
  /* min-width: 300px; 
  margin: 0 8px;
} */
