/* Filename: styles.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
  height: 100%;
  width: 100%;
}

.parent-container {
  width: 100%; /* Možete prilagoditi širinu po potrebi */
  height: 100vh;
}
.parent-container::-webkit-scrollbar {
  display: none; /* Sakriva scroll bar za Chrome, Safari i Opera */
}

.welcome-container {
  background-image: url("../img/landingpageImg.jpg"); /* Proveri putanju do slike */
  background-size: cover;
  background-position: center;
  height: 100vh; /* 100% visine preglednika */
  display: flex;
  flex-direction: column; /* Dodaj ovo */
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.welcome-text {
  font-size: 4rem; /* Veličina fonta natpisa */
  margin-bottom: 20px; /* Dodaj razmak ispod teksta */
  font-family: "Roboto";
}

/* Additional content urediti */
.additional-content {
  margin: 20px;
  padding: 20px;
  font: "Roboto";
  color: black;
  background-color: #fff;
  border: 0.5px inset white; /* Dodajemo border */
  border-radius: 20px; /* Zaobljeni uglovi */
  outline: none; /* Uklanja outline */
}

.additional-content h1 {
  font: "Roboto";
  margin-bottom: 20px;
  margin-left: 20px;
  color: #4f6f52;
}

.additional-content .media-card-container {
  display: flex;
  justify-content: center;
}

/* GRID CONTAINER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid-container {
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: auto auto; /* Dva stupca, prvi će se prilagoditi veličini sadržaja, drugi će popuniti preostali prostor */
  gap: 0px; /* Razmak između elemenata u gridu */
  background-image: url("../img/route.png"); /* Postavljanje slike kao pozadine */
  background-size: cover; /* Opciono: Prilagodite veličinu slike */
  background-position: center; /* Opciono: Poravnajte sliku */
  background-repeat: no-repeat; /* Opciono: Onemogućite ponavljanje slike */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Postavljanje boje pozadine s transparentnošću */
}

.image img {
  max-width: 100%; /* Slika će se prilagoditi veličini roditeljskog elementa */
  height: auto; /* Očuvava omjer širine i visine */
}

.text {
  /* display: flex;
  justify-content: flex-start; /* Tekst će se poravnati s lijeve strane 
  align-items: center; */
  text-align: left;
  color: white;
  background-image: url("../img/hiking.jpg");
  /* background-color: rgba(81, 93, 87, 1); */
}
.text h1,
p {
  margin: 20px;
}

.button {
  border: 1px solid #515d57;
  border-radius: 20px;
  background: white;
}
